
*{
    margin: 0 0;
    padding: 0 0 ;
}
.heading{
   display: flex;
   justify-content: center;
   align-items: center;
    
  
   width: 100%;
   padding: 0 0;
   text-align: center;
}

h1{
    border: 2px solid white;
    width: 25rem;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 1.2rem;
}

/* ul{
    width:18rem;
} */

.photo1{
    width: 60px;
    height: 80px;
}

.carcontainer{
    display: flex;
   background-color:rgb(25, 50, 67);
    
    flex-wrap: wrap;
    
}


.newsContainer1{
    width: 100%;
    display: flex;
    
    flex-direction: column;
}

 img{
    display: box;
    align-items: center;
    /* margin: 35px 45px; */
    /* margin-left: 100px; */
   margin-bottom: 1.8rem;
    height: 200px;
    width: 200px;
    vertical-align: middle;
    
    
} 

.arttile{
    
   
    overflow: hidden;
    word-wrap: break-word;
    color: white;
}

.text{
    position: relative;
    vertical-align: bottom;
    
}

.wrapper{
    background-color: rgb(25, 50, 67);
    color: white;
    
}

.search{
    margin-top: 1.2rem;
    margin-bottom: 1.8rem;
}
.author{
    display: flex;
    justify-content: end;
    margin-left: auto;
}
.card1{
    position: relative;
    display: flex;
    width: 30%;
    height: 500px; 
    color: white;
    margin: 10px 10px;
    flex-wrap: wrap;
    background-color: rgb(65, 70, 100);
    overflow: scroll;
    min-width: 170px;
}
.button1{
    width: 140.13px;
    height: 40px;
}

#loader-2 span{
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #3498db;
    margin: 35px 5px;
  }
  
  #loader-2 span:nth-child(1){
    animation: bounce 1s ease-in-out infinite;
  }
  
  #loader-2 span:nth-child(2){
    animation: bounce 1s ease-in-out 0.33s infinite;
  }
  
  #loader-2 span:nth-child(3){
    animation: bounce 1s ease-in-out 0.66s infinite;
  }
  
  @keyframes bounce{
    0%, 75%, 100%{
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  
    25%{
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }

  .preloader1{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: static;
  }

  .wrapper{
      min-height: 1000px;
  }