
*{
    margin: 0 0;
    padding: 0 0 ;
}
.heading{
   display: flex;
   justify-content: center;
   align-items: center;
    
  
   width: 100%;
   padding: 0 0;
   text-align: center;
}

h1{
    border: 2px solid white;
    width: 25rem;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 1.2rem;
}

/* ul{
    width:18rem;
} */

.photo1{
    width: 60px;
    height: 80px;
}

.carcontainer{
    display: flex;
   background-color:rgb(25, 50, 67);
    
    flex-wrap: wrap;
    
}


.newsContainer1{
    width: 100%;
    display: flex;
    
    flex-direction: column;
}

 img{
    display: box;
    align-items: center;
    /* margin: 35px 45px; */
    /* margin-left: 100px; */
   margin-bottom: 1.8rem;
    height: 200px;
    width: 200px;
    vertical-align: middle;
    
    
} 

.arttile{
    
   
    overflow: hidden;
    word-wrap: break-word;
    color: white;
}

.text{
    position: relative;
    vertical-align: bottom;
    
}

.wrapper{
    background-color: rgb(25, 50, 67);
    color: white;
    
}

.search{
    margin-top: 1.2rem;
    margin-bottom: 1.8rem;
}
.author{
    display: flex;
    justify-content: end;
    margin-left: auto;
}
.card1{
    position: relative;
    display: flex;
    width: 30%;
    height: 500px; 
    color: white;
    margin: 10px 10px;
    flex-wrap: wrap;
    background-color: rgb(65, 70, 100);
    overflow: scroll;
    min-width: 105px;
}
.button1{
    width: 140.13px;
    height: 40px;
}